@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    outline: none;
}

:root{
    --black: #040301;
    --yellow: #d39f22;
    --gray: #dedede;
}

html, body{
    width: 100%;    
    overflow-x: hidden;
}
/* header */


header{
    width: 100%;
    height: 500px;
    background: var(--black);

}
header .content{
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

header .content p{
    font-size: 1.5rem;
    color: var(--yellow);
    cursor: pointer;
}

header .content nav{
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .content nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    align-items: center;    
}


header .content nav ul li{
    list-style-type: none;
    
}


header .content nav ul li a{
    text-decoration: none;
    list-style-type: none;
    font-size: 1rem;
    color: var(--yellow)
    
}

header .content nav button{
    background: transparent;
    color: var(--yellow);
    padding: 8px 40px;
    border: 1px solid var(--yellow);
    border-radius: 4px;
}

header .content nav button:hover{

    transition: backgorund, color 0.6s;
    background: var(--yellow);
    color: var(--black);
}

header .slogan{
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background: var(--yellow);
    border-radius: 8px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}

header .slogan img{
    width:55%;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

header .slogan .text{
    position: absolute;
    bottom: 30%;
    left: 15%;
}

header .slogan .text h2{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.5s;
    
    
}

header .slogan .text p{
    font-size: 1rem;
    color: #fff;
    max-width: 280px;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.4s;
}

/* catalog */

section .catalog{
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto;

}

section .filter-card{

    width: 1000px;
    height: 150px;
    background: var(--gray);
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-input{
    width: 700px;
    height: 50px;
    border: none;
    border-radius: 4px 0 0 4px;
    text-indent: 10px;
}

.search-button{
    width: 150px;
    height: 50px;
    border-radius: 0 4px 4px 0;
    border: none;
    background-color: var(--black);
    color: #fff ;
    cursor: pointer;
    font-size: 1.12rem ;
    transition: 0.2s ease;

}

.search-button:hover{
    background: #7a7d83;
    color: var(--black);
}

.title-wrapper-catalog{
    margin-top: 200px;
    padding-bottom: 20px;
    
}

section .card-wrapper{
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;

}

section .card-item{ 
    height: 400px;
    background: var(--gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.card-content{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-item img{
   width: 90%;
}

.card-item h2{
    width: 90%;

}

.card-item p{
    width: 90%;
    font-style:  italic;
    color: var(--black);
}

.card-item button{
    width: 90%;
    padding: 15px 0;
    border: none;
    background: var(--black);
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 1.12rem;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;

}

.card-item button:hover{
    background: #7a7d83;
    color: var(--black);
}

/* Aboaut */

section .about{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;

}

section .about .about-content{
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: var(--gray);
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.about .left{
    width: 25%;
    min-width: 300px;
    height: 100%;
    background-color: #a8a8a8;
    border-radius: 8px;
}

.about .rigth{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10%;
}

.about .rigth h3 {
    text-align: right;
    width: 90%;
    margin-bottom: 20px;
}

.about .rigth p{
    max-width: 90%;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: right;
    color: rgba(0, 0, 0, 0.7) ;
}

/* features */

section .features{
    width: 100%;
    height: 100%;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.features .content{
    max-width: 1000px;
    min-width: 300px;
}

.title-wrapper-features{
    padding: 20px 0px;
    margin-bottom: 30px ;

}

.features-card-block{
    margin-top: 30px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 30px;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
}

.features-card-block .card-item{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 150px;
    border: 1px solid var(--gray);
    border-radius: 8px;
}

.features-card-block .card-item img{
    width: 15%;

}

.features-card-block .card-item h3{
    font-size: 1.12rem;
    text-align: start;
    font-weight: bold;
    padding-left: 10px;
}

.features-card-block .card-item p{
    font-size: 1.12rem;
    text-align: start;
    padding-left: 10px
}

footer{
    background-color: var(--yellow);
    width: 100%;
}

.main{
    max-width: 1000px;
    min-width: 300px;
    height: 200px;
    margin: 0 auto;
    display: flex;   
    justify-content: space-between;
    align-items:flex-start;
    padding-top: 40px ;
}

.footer-links img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.footer-links h4{
    font-size: 1rem;
    padding-bottom: 20px;
    color: #fff;
}

.footer-links h5{
    font-size: 0.68rem;
    color: #fff;
    padding-bottom: 10px;
}

.footer2-content{
    background-color: var(--black);
    width: 100%;
}

.footer2{
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
}

.footer2 p{
    color: #fff;
    text-align: center;
    padding: 20px;
}

@media (max-width: 1000px){

   .content .filter-card{
        
        width: 700px;
        padding: 0 20px;
   } 

   .search-button{
        width: 150px;
        padding-right: 20px;
   }

   footer .main{
    padding-left: 20px;
    padding-right: 20px;
   }
}

@media (max-width: 768px){

    .content nav ul li{
        display: none;
    }
    .content .filter-card{
        width: 450px;
    }

    .about-content .left{
        display: none;
    }

    .about-content .rigth {
        width: 90%;
        margin: 0 auto;
    }
    .about-content .rigth h3{
        text-align: left;
     }
     .about-content .rigth p{
        text-align: left;
     }

}